<!DOCTYPE html>
<html lang = "en">
   <head>
      <title>$code $code_text</title>
      <style>
         .center {
            text-align: center;
         }
      </style>
   </head>
   <body>
      <div class="center">
         <h3>
            Error $code: $code_text
         </h3>
         <p>
            Python HTTP Server
         </p>
      </div>
   </body>
</html>
